<div class="page-content fade-in-up">
    <div class="container-fluid">

        <div class="row">
            <div class="col-1" style="padding-left: 0px"> <button type="button" class="btn btn-demo" id="test">
                                        <i class="fas fa-cog fa-spin" style="color: white"></i>
                                    </button>
            </div>
        </div>


        <router-outlet></router-outlet>

    </div>

</div>

<div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Platform Data Definition</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="nav flex-sm-column flex-row" style="margin-top: 10%">
                    <a [routerLink]="['/platformdefinition/fields']" [routerLinkActive]="['active']" data-dismiss="modal">Fields</a>
                    <a [routerLink]="['/platformdefinition/ip']" [routerLinkActive]="['active']" data-dismiss="modal">Involved Party</a>
                    <a [routerLink]="['/platformdefinition/sal']" [routerLinkActive]="['active']" data-dismiss="modal">Arrangement</a>
                    <a [routerLink]="['/platformdefinition/journal']" [routerLinkActive]="['active']" data-dismiss="modal">Journal Ledger</a>
                    <a [routerLink]="['/platformdefinition/audit']" [routerLinkActive]="['active']" data-dismiss="modal">Audit</a>

                </div>
            </div>

        </div>
    </div>
</div>